html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;

  .list-header {
    background-color: whitesmoke;
  }

  .service-block {
    background-color: #3498db;
  }

  .result-list .transation-result {
    background-color: white;
  }

  .wrapper-link {
    background-color: #eff5fb;
  }

  .page-link {
    color: #007bff;
  }

  .page-item.disabled .page-link {
    color: #6c757d;

  }

  a.nav-link {
    color: #333;
  }

  .timer-card {
    background-color: #fff;
  }

  .timer-card-top{
    background-color: #f7f7f7;
  }

  .styled-icon-copy {
    color: #17a2b8;

    &:hover {
      color: darken(#17a2b8, 8%);
      transition: all 0.3s ease;
    }

    &:active {
      color: darken(#17a2b8, 25%);
    }
  }

  .table tbody tr:hover,
  .page-item .page-link:hover,
  .result-list .transation-result:hover
  {
    background-color: darken(white, 3%);
  }
}

body.dark-mode {
  background-color: #10171d;
  color: #dfdfdf;

  .page-link {
    color: lightgray;
  }

  .page-item.disabled .page-link{
    background-color: #6c757d;
    color: lightgray;
  }

  .service-block, .navigation-bar, .navbar, .searchbox-input, .modal-content, .jumbotron, .page-item .page-link {
    background-color: #1b2938;
  }

  button.close, input, .form-control:focus, .text-white, .table, .text-dark {
    color: #cbcbcb !important;
    background-color: #1b2938;
  }

  .table tbody tr:hover,
  .page-item .page-link:hover,
  .result-list .transation-result:hover
  {
    color: whitesmoke;
    background-color: lighten(#1b2938, 10%);
  }

  .bg-transparent {
    background-color: #1b2938 !important;
  }

  .active > .page-link {
    background-color: #10171d !important;
    border-color: #337ab7;
  }

  .dark-mode-toggle > button {
    color: #999;
    &:last-child {
      color: lightblue;
    }
  }

  .card {
    color: #cbcbcb;
    background-color: #1b2938 !important;

    .list-group-item {
      background-color: lighten(#1b2938, 10%) !important;
    }
  }

  .timer-card {
    background-color: lighten(#1b2938, 20%);
  }

  .timer-card-top{
    background-color: lighten(#1b2938, 10%);
  }

  .styled-icon-copy {
    color: darken(#17a2b8, 30%);

    & {
      color: lighten(#17a2b8, 20%);
      transition: all 0.3s ease;
    }

    &:active {
      color: lighten(#17a2b8, 50%);
    }
  }

  .btn:hover {
    color: #6cc0e5;
  }
}

.navbar {
  //position: fixed;
  //top: 0;
  width: 100%;
  display: flex;
  //background-color: #95d3ff;
  //padding: 20px;
}

.content {
  padding: 20px;
  margin: 0 auto;
  margin-top: 60px;
  max-width: 600px;
  font-size: 20px;
  line-height: 1.3em;

  h1 {
    font-size: 2rem;
  }

  img {
    width: 100%;
  }

  code {
    background-color: #cbe9ff;
    border-radius: 2px;
    font-size: 1em;
    padding: 0 5px;
  }

  a {
    text-decoration: none;
    color: #006688;
  }

  button {
    color: #006688;
    background-color: transparent;
    border: none;
    font-size: 1em;
    padding: 0;
  }
}

body.dark-mode .content code {
  background-color: #1b2938;
}

body.dark-mode .content a {
  color: #ee09;
}

body.dark-mode .content button {
  color: #ee09;
}

.dark-mode-toggle {
  display: flex;
  margin: 0 auto;
  & > button {
    font-size: 1.2em;
    background: none;
    border: none;
    color: #ffe600;
    cursor: pointer;
    transition: color 0.3s ease;
    &:last-child {
      color: #666;
    }

    &:focus {
      outline: none;
    }
  }
}

.toggle-control {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

input[type='checkbox'].dmcheck {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;

  &:checked + label {
    left: 30px;
  }

  &:focus-visible {
    outline: solid 2px white;
  }

  & + label {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 2px;
    background: #fff;
    opacity: 0.9;
    background-color: #f6f6f6;
  }
}
