/* Coolors Exported Palette - https://coolors.co/1c347a-1d4691-40a0f6-71bcf7-97cef9-c2e2fb-d1e6f8-b0b6c1-f5f6f9-ffffff */

/* CSS HEX */
--st-patricks-blue: #1c347aff;
--dark-cornflower-blue: #1d4691ff;
--blue-jeans: #40a0f6ff;
--maya-blue: #71bcf7ff;
--baby-blue-eyes: #97cef9ff;
--uranian-blue: #c2e2fbff;
--beau-blue: #d1e6f8ff;
--cadet-blue-crayola: #b0b6c1ff;
--ghost-white: #f5f6f9ff;
--white: #ffffffff;

/* CSS HSL */
--st-patricks-blue: hsla(225, 63%, 29%, 1);
--dark-cornflower-blue: hsla(219, 67%, 34%, 1);
--blue-jeans: hsla(208, 91%, 61%, 1);
--maya-blue: hsla(206, 89%, 71%, 1);
--baby-blue-eyes: hsla(206, 89%, 78%, 1);
--uranian-blue: hsla(206, 88%, 87%, 1);
--beau-blue: hsla(208, 74%, 90%, 1);
--cadet-blue-crayola: hsla(219, 12%, 72%, 1);
--ghost-white: hsla(225, 25%, 97%, 1);
--white: hsla(0, 0%, 100%, 1);

/* SCSS HEX */
$st-patricks-blue: #1c347aff;
$dark-cornflower-blue: #1d4691ff;
$blue-jeans: #40a0f6ff;
$maya-blue: #71bcf7ff;
$baby-blue-eyes: #97cef9ff;
$uranian-blue: #c2e2fbff;
$beau-blue: #d1e6f8ff;
$cadet-blue-crayola: #b0b6c1ff;
$ghost-white: #f5f6f9ff;
$white: #ffffffff;

/* SCSS HSL */
$st-patricks-blue: hsla(225, 63%, 29%, 1);
$dark-cornflower-blue: hsla(219, 67%, 34%, 1);
$blue-jeans: hsla(208, 91%, 61%, 1);
$maya-blue: hsla(206, 89%, 71%, 1);
$baby-blue-eyes: hsla(206, 89%, 78%, 1);
$uranian-blue: hsla(206, 88%, 87%, 1);
$beau-blue: hsla(208, 74%, 90%, 1);
$cadet-blue-crayola: hsla(219, 12%, 72%, 1);
$ghost-white: hsla(225, 25%, 97%, 1);
$white: hsla(0, 0%, 100%, 1);

/* SCSS RGB */
$st-patricks-blue: rgba(28, 52, 122, 1);
$dark-cornflower-blue: rgba(29, 70, 145, 1);
$blue-jeans: rgba(64, 160, 246, 1);
$maya-blue: rgba(113, 188, 247, 1);
$baby-blue-eyes: rgba(151, 206, 249, 1);
$uranian-blue: rgba(194, 226, 251, 1);
$beau-blue: rgba(209, 230, 248, 1);
$cadet-blue-crayola: rgba(176, 182, 193, 1);
$ghost-white: rgba(245, 246, 249, 1);
$white: rgba(255, 255, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1c347aff, #1d4691ff, #40a0f6ff, #71bcf7ff, #97cef9ff, #c2e2fbff, #d1e6f8ff, #b0b6c1ff, #f5f6f9ff, #ffffffff);
$gradient-right: linear-gradient(90deg, #1c347aff, #1d4691ff, #40a0f6ff, #71bcf7ff, #97cef9ff, #c2e2fbff, #d1e6f8ff, #b0b6c1ff, #f5f6f9ff, #ffffffff);
$gradient-bottom: linear-gradient(180deg, #1c347aff, #1d4691ff, #40a0f6ff, #71bcf7ff, #97cef9ff, #c2e2fbff, #d1e6f8ff, #b0b6c1ff, #f5f6f9ff, #ffffffff);
$gradient-left: linear-gradient(270deg, #1c347aff, #1d4691ff, #40a0f6ff, #71bcf7ff, #97cef9ff, #c2e2fbff, #d1e6f8ff, #b0b6c1ff, #f5f6f9ff, #ffffffff);
$gradient-top-right: linear-gradient(45deg, #1c347aff, #1d4691ff, #40a0f6ff, #71bcf7ff, #97cef9ff, #c2e2fbff, #d1e6f8ff, #b0b6c1ff, #f5f6f9ff, #ffffffff);
$gradient-bottom-right: linear-gradient(135deg, #1c347aff, #1d4691ff, #40a0f6ff, #71bcf7ff, #97cef9ff, #c2e2fbff, #d1e6f8ff, #b0b6c1ff, #f5f6f9ff, #ffffffff);
$gradient-top-left: linear-gradient(225deg, #1c347aff, #1d4691ff, #40a0f6ff, #71bcf7ff, #97cef9ff, #c2e2fbff, #d1e6f8ff, #b0b6c1ff, #f5f6f9ff, #ffffffff);
$gradient-bottom-left: linear-gradient(315deg, #1c347aff, #1d4691ff, #40a0f6ff, #71bcf7ff, #97cef9ff, #c2e2fbff, #d1e6f8ff, #b0b6c1ff, #f5f6f9ff, #ffffffff);
$gradient-radial: radial-gradient(#1c347aff, #1d4691ff, #40a0f6ff, #71bcf7ff, #97cef9ff, #c2e2fbff, #d1e6f8ff, #b0b6c1ff, #f5f6f9ff, #ffffffff);