/* Coolors Exported Palette - https://coolors.co/2b3050-343d60-7186b7-97a7ca-b2bed8-d1d9e7-dbe0ea-b2b4b9-f5f5f6-fefffe */

/* CSS HEX */
--space-cadet: #2b3050ff;
--space-cadet-2: #343d60ff;
--glaucous: #7186b7ff;
--wild-blue-yonder: #97a7caff;
--light-steel-blue: #b2bed8ff;
--light-periwinkle: #d1d9e7ff;
--gainsboro: #dbe0eaff;
--silver-metallic: #b2b4b9ff;
--cultured: #f5f5f6ff;
--white: #fefffeff;

/* CSS HSL */
--space-cadet: hsla(232, 30%, 24%, 1);
--space-cadet-2: hsla(228, 30%, 29%, 1);
--glaucous: hsla(222, 33%, 58%, 1);
--wild-blue-yonder: hsla(221, 32%, 69%, 1);
--light-steel-blue: hsla(221, 33%, 77%, 1);
--light-periwinkle: hsla(218, 31%, 86%, 1);
--gainsboro: hsla(220, 26%, 89%, 1);
--silver-metallic: hsla(223, 5%, 71%, 1);
--cultured: hsla(240, 5%, 96%, 1);
--white: hsla(120, 100%, 100%, 1);

/* SCSS HEX */
$space-cadet: #2b3050ff;
$space-cadet-2: #343d60ff;
$glaucous: #7186b7ff;
$wild-blue-yonder: #97a7caff;
$light-steel-blue: #b2bed8ff;
$light-periwinkle: #d1d9e7ff;
$gainsboro: #dbe0eaff;
$silver-metallic: #b2b4b9ff;
$cultured: #f5f5f6ff;
$white: #fefffeff;

/* SCSS HSL */
$space-cadet: hsla(232, 30%, 24%, 1);
$space-cadet-2: hsla(228, 30%, 29%, 1);
$glaucous: hsla(222, 33%, 58%, 1);
$wild-blue-yonder: hsla(221, 32%, 69%, 1);
$light-steel-blue: hsla(221, 33%, 77%, 1);
$light-periwinkle: hsla(218, 31%, 86%, 1);
$gainsboro: hsla(220, 26%, 89%, 1);
$silver-metallic: hsla(223, 5%, 71%, 1);
$cultured: hsla(240, 5%, 96%, 1);
$white: hsla(120, 100%, 100%, 1);

/* SCSS RGB */
$space-cadet: rgba(43, 48, 80, 1);
$space-cadet-2: rgba(52, 61, 96, 1);
$glaucous: rgba(113, 134, 183, 1);
$wild-blue-yonder: rgba(151, 167, 202, 1);
$light-steel-blue: rgba(178, 190, 216, 1);
$light-periwinkle: rgba(209, 217, 231, 1);
$gainsboro: rgba(219, 224, 234, 1);
$silver-metallic: rgba(178, 180, 185, 1);
$cultured: rgba(245, 245, 246, 1);
$white: rgba(254, 255, 254, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #2b3050ff, #343d60ff, #7186b7ff, #97a7caff, #b2bed8ff, #d1d9e7ff, #dbe0eaff, #b2b4b9ff, #f5f5f6ff, #fefffeff);
$gradient-right: linear-gradient(90deg, #2b3050ff, #343d60ff, #7186b7ff, #97a7caff, #b2bed8ff, #d1d9e7ff, #dbe0eaff, #b2b4b9ff, #f5f5f6ff, #fefffeff);
$gradient-bottom: linear-gradient(180deg, #2b3050ff, #343d60ff, #7186b7ff, #97a7caff, #b2bed8ff, #d1d9e7ff, #dbe0eaff, #b2b4b9ff, #f5f5f6ff, #fefffeff);
$gradient-left: linear-gradient(270deg, #2b3050ff, #343d60ff, #7186b7ff, #97a7caff, #b2bed8ff, #d1d9e7ff, #dbe0eaff, #b2b4b9ff, #f5f5f6ff, #fefffeff);
$gradient-top-right: linear-gradient(45deg, #2b3050ff, #343d60ff, #7186b7ff, #97a7caff, #b2bed8ff, #d1d9e7ff, #dbe0eaff, #b2b4b9ff, #f5f5f6ff, #fefffeff);
$gradient-bottom-right: linear-gradient(135deg, #2b3050ff, #343d60ff, #7186b7ff, #97a7caff, #b2bed8ff, #d1d9e7ff, #dbe0eaff, #b2b4b9ff, #f5f5f6ff, #fefffeff);
$gradient-top-left: linear-gradient(225deg, #2b3050ff, #343d60ff, #7186b7ff, #97a7caff, #b2bed8ff, #d1d9e7ff, #dbe0eaff, #b2b4b9ff, #f5f5f6ff, #fefffeff);
$gradient-bottom-left: linear-gradient(315deg, #2b3050ff, #343d60ff, #7186b7ff, #97a7caff, #b2bed8ff, #d1d9e7ff, #dbe0eaff, #b2b4b9ff, #f5f5f6ff, #fefffeff);
$gradient-radial: radial-gradient(#2b3050ff, #343d60ff, #7186b7ff, #97a7caff, #b2bed8ff, #d1d9e7ff, #dbe0eaff, #b2b4b9ff, #f5f5f6ff, #fefffeff);