/* Coolors Exported Palette - https://coolors.co/293454-314365-6a95bc-91b3ce-aec7db-cfdee9-dae3eb-b2b5ba-f5f6f7-fffffe */

/* CSS HEX */
--space-cadet: #293454ff;
--indigo-dye: #314365ff;
--cerulean-frost: #6a95bcff;
--pale-cerulean: #91b3ceff;
--beau-blue: #aec7dbff;
--beau-blue-2: #cfdee9ff;
--alice-blue: #dae3ebff;
--gray-x-11-gray: #b2b5baff;
--cultured: #f5f6f7ff;
--white: #fffffeff;

/* CSS HSL */
--space-cadet: hsla(225, 34%, 25%, 1);
--indigo-dye: hsla(219, 35%, 29%, 1);
--cerulean-frost: hsla(209, 38%, 58%, 1);
--pale-cerulean: hsla(207, 38%, 69%, 1);
--beau-blue: hsla(207, 38%, 77%, 1);
--beau-blue-2: hsla(205, 37%, 86%, 1);
--alice-blue: hsla(208, 30%, 89%, 1);
--gray-x-11-gray: hsla(217, 5%, 71%, 1);
--cultured: hsla(210, 11%, 96%, 1);
--white: hsla(60, 100%, 100%, 1);

/* SCSS HEX */
$space-cadet: #293454ff;
$indigo-dye: #314365ff;
$cerulean-frost: #6a95bcff;
$pale-cerulean: #91b3ceff;
$beau-blue: #aec7dbff;
$beau-blue-2: #cfdee9ff;
$alice-blue: #dae3ebff;
$gray-x-11-gray: #b2b5baff;
$cultured: #f5f6f7ff;
$white: #fffffeff;

/* SCSS HSL */
$space-cadet: hsla(225, 34%, 25%, 1);
$indigo-dye: hsla(219, 35%, 29%, 1);
$cerulean-frost: hsla(209, 38%, 58%, 1);
$pale-cerulean: hsla(207, 38%, 69%, 1);
$beau-blue: hsla(207, 38%, 77%, 1);
$beau-blue-2: hsla(205, 37%, 86%, 1);
$alice-blue: hsla(208, 30%, 89%, 1);
$gray-x-11-gray: hsla(217, 5%, 71%, 1);
$cultured: hsla(210, 11%, 96%, 1);
$white: hsla(60, 100%, 100%, 1);

/* SCSS RGB */
$space-cadet: rgba(41, 52, 84, 1);
$indigo-dye: rgba(49, 67, 101, 1);
$cerulean-frost: rgba(106, 149, 188, 1);
$pale-cerulean: rgba(145, 179, 206, 1);
$beau-blue: rgba(174, 199, 219, 1);
$beau-blue-2: rgba(207, 222, 233, 1);
$alice-blue: rgba(218, 227, 235, 1);
$gray-x-11-gray: rgba(178, 181, 186, 1);
$cultured: rgba(245, 246, 247, 1);
$white: rgba(255, 255, 254, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #293454ff, #314365ff, #6a95bcff, #91b3ceff, #aec7dbff, #cfdee9ff, #dae3ebff, #b2b5baff, #f5f6f7ff, #fffffeff);
$gradient-right: linear-gradient(90deg, #293454ff, #314365ff, #6a95bcff, #91b3ceff, #aec7dbff, #cfdee9ff, #dae3ebff, #b2b5baff, #f5f6f7ff, #fffffeff);
$gradient-bottom: linear-gradient(180deg, #293454ff, #314365ff, #6a95bcff, #91b3ceff, #aec7dbff, #cfdee9ff, #dae3ebff, #b2b5baff, #f5f6f7ff, #fffffeff);
$gradient-left: linear-gradient(270deg, #293454ff, #314365ff, #6a95bcff, #91b3ceff, #aec7dbff, #cfdee9ff, #dae3ebff, #b2b5baff, #f5f6f7ff, #fffffeff);
$gradient-top-right: linear-gradient(45deg, #293454ff, #314365ff, #6a95bcff, #91b3ceff, #aec7dbff, #cfdee9ff, #dae3ebff, #b2b5baff, #f5f6f7ff, #fffffeff);
$gradient-bottom-right: linear-gradient(135deg, #293454ff, #314365ff, #6a95bcff, #91b3ceff, #aec7dbff, #cfdee9ff, #dae3ebff, #b2b5baff, #f5f6f7ff, #fffffeff);
$gradient-top-left: linear-gradient(225deg, #293454ff, #314365ff, #6a95bcff, #91b3ceff, #aec7dbff, #cfdee9ff, #dae3ebff, #b2b5baff, #f5f6f7ff, #fffffeff);
$gradient-bottom-left: linear-gradient(315deg, #293454ff, #314365ff, #6a95bcff, #91b3ceff, #aec7dbff, #cfdee9ff, #dae3ebff, #b2b5baff, #f5f6f7ff, #fffffeff);
$gradient-radial: radial-gradient(#293454ff, #314365ff, #6a95bcff, #91b3ceff, #aec7dbff, #cfdee9ff, #dae3ebff, #b2b5baff, #f5f6f7ff, #fffffeff);