@import '~bootstrap/scss/bootstrap-grid';

.result-list {
  padding: 0;
  margin: 0;
  width: 100%;

  .transation-result {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
    background-color: white;

    & > div {
      padding: 1rem;
    }

    .title {
      font-size: 1.5rem;
    }

    small.title {
      font-size: 1rem;
    }

    .desc {
      margin-bottom: 0px;
      margin-top: 2px;

      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 16px;

      i {
        margin-left: 4px;
        margin-right: 8px;
      }

      .transaction-arrow-icon {
        color: #707478;
        margin: auto 0.5rem;
      }
    }

    .result-price {

      .transaction-asset {
        margin-bottom: 1rem;

        small {
          font-size: 12px;
          color: #999;
        }
      }
    }

    .transaction-header {
      margin-bottom: 1rem;
    }
  }

  @mixin button-bg($bg) {
    background: $bg;
    &:hover {
      background: darken($bg, 8%);
      transition: all 0.3s ease;
    }
    &:active {
      background: darken($bg, 25%);
    }
  }

  .btn-blue {
    @include button-bg(#3498db);
  }
}

@media (max-width: 768px) {
  .result-list {
    .transation-result {
      .desc {
        .wrapper-link {
          width: 60%;
        }
      }
    }
  }
  .address-wrapper {
    display: block;
  }
}

@include media-breakpoint-up(sm) {
  .result-list .result-price {
    border-left: 1px dashed #ddd;
  }
}

@include media-breakpoint-down(sm) {
  .result-list {
    .result-price {
      border-top: 1px dashed #ddd;
    }
    .transation-result {
      .desc {
        .wrapper-link {
          overflow: hidden;
          width: 60%;
        }
      }
    }
  }
}
